#titulo {
    color:darkcyan ;
    font-size: 5em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

.contenido1 {
    display: table;
    height: 150px;
    margin: 1rem auto;
    width: 1240px;   
    text-align: left;
}
#text1 {
    margin-left:25px;
}
#text2 {
    margin-right: 20px;
}
.img1 {
    width: 360px;
    height: 195px;
    float: right;
    border: black;
    border-style: solid;
    margin-right: 60px;
    margin-left: 80px;
    margin-bottom: 20px;
}
.img2 {
    margin-top: 25px;
    width: 360px;
    height: 280px;
    float: left;
    border: black;
    border-style: solid;
    margin-right: 60px;
    margin-left: 80px;
    margin-bottom: 20px;
}
.nav-enlace {
 
    display: inline-block;
    color:white;
    padding: 10px 30px;
    font-size: 18px; 
    text-decoration: none;
}

.nav-enlace:hover{
    background-color:rgb(14, 65, 175);
}

nav{
    background-color:darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-around;

}
.nav-boton {
    background-color: slateblue;
    color:snow;
    padding: 10px 0;
    border: 2px solid snow;
    display: none;
} 



@media (max-width: 800px) {
    nav{
        background-color: black;
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0;
    }
    .nav-boton{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
}